@charset "UTF-8";

body {
    background-color: rgb(194, 235, 252);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    font-size: 18px;
    border: 3px solid #ffff;
    border-radius: 20px;
    padding: 6px 0;
    margin: 60px auto;
    width: 300px;
    text-align: center;

}

p, ul {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
}
a {
    background-color: #ff9a9e;
    display: block;
    padding: 20px 0;
    border-radius: 4px;
    color: white;
    font-weight: 400;
}
a:hover {
    color: rgb(42, 102, 125);
    background-color: skyblue;
}
ul {
    width: 300px;
    margin: 0 auto;
}
li {
    margin-bottom: 20px;
}